*{
padding: 0;
margin: 0;
}

.flex-content{
    display: flex;
    flex-direction: column;
    border: 1px ;
    border-radius: 5px;
    padding: 10px;
}


button{
    outline: none;
    border:none;
    display: block;
    border-radius: 5px;
    background-color: coral;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}